.main-menu-wrap {
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
}
.main-menu-wrap:not(.open) .main-menu {
    display: none;
}
.main-menu-wrap .main-menu {
    position: absolute;
    z-index: 10;
    top: 4px;
    width: 340px;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    color: #333;
    overflow: hidden;
}
#mainMenuSpace {
    height: 100%;
}